.Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  min-height: auto;
  gap: 2vh;
}

.Projects .project-title {
  width: 100%;
  font-size: 2vw;
}

.Projects .project-subtitle {
  font-size: 1vw;
  font-weight: 400;
  width: 100%;
  color: rgb(150, 150, 150);
}

.Projects .project-other {
  font-size: 1.2vw;
  font-weight: 400;
}

.Projects .project-other a {
  text-decoration: underline transparent;
  color: rgb(0, 136, 255);
}

.Projects .project-subtitle a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Projects .project-title {
    font-size: 2vh;
  }
  .Projects .project-subtitle {
    font-size: 1.2vh;
  }
  .Projects .project-other {
    font-size: 1.2vh;
  }
}