.List {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 3vh 1.2vw;
  gap: 1vh 0;
  border-bottom: 1px solid var(--vdgray);
}

.List h1 {
  font-size: 2vw;
}

.List ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 25vh;
  width: auto;
  max-width: 100%;
  gap: 1vh 1vw;
}

.List ul li {
  font-size: 1.1vw;
  min-width: 10vw;
  word-wrap: break-word;
  max-width: 100%;
}

.List ul li::marker {
  color: var(--blue);
}

.List ul li p {
  font-weight: 400;
  color: var(--lgray);
  word-wrap: break-word;
  max-width: 100%;
}

.List ul li p a {
  font-weight: 500;
  font-family: JetBrains Mono;
  word-wrap: break-word;
  max-width: 100%;
  text-decoration: underline transparent;
}

.List ul li p a:hover {
  color: var(--blue);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .List {
    padding: 1vh 2vw;
  }
  .List h1 {
    font-size: 2vh;
  }
  .List ul li {
    font-size: 1.2vh;
  }
}