.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 1vh 0;
}

.Home header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 3vh 1vw;
  gap: 2vh 0;
  border-bottom: 1px solid var(--vdgray);
}

.Home header .row {
  display: flex;
  width: 100%;
  height: auto;
}

.Home header p {
  font-weight: 500;
  color: var(--lgray);

  & span {
    font-weight: 700;
  }
}

.Home header img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.Home header .texts {
  border-right: 1px solid var(--vdgray);
  padding: 0 1vw;
}

.Home header .texts h1 {
  font-weight: 800;
}

.Home header .texts h2 {
  font-family: JetBrains mono;
  font-size: 1.29vw;
  font-weight: 400;
  color: var(--lgray);
  gap: 0 5px;
}

.Home header .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  gap: 0 1vw;
  padding: 0 1vw;
}

.Home header .links i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vw;
  height: 50px;
  width: 50px;
  border-radius: 7px;
  color: #fff;
  background-color: transparent;
}

.Home header .links i:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 768px) {
  .Home header .row .texts {
    padding: 0 3vw;

    & h2 {
      font-size: 1.8vh;
    }
  }
  .Home header .row .links i {
    font-size: 2.4vh;
  }
}

@media screen and (max-width: 425px) {
  .Home header img {
    display: none;
  }
  .Home header .row .texts {
    padding: 0 1vw;

    & h1 {
      font-size: 2vh;
    }

    & h2 {
      font-size: 1.4vh;
    }
  }
  .Home header .row .links i {
    font-size: 2.6vh;
  }
}