.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 1vh 0;
}

.Home .about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 1vh 0;
  padding: 3vh 1.2vw;
  border-bottom: 1px solid var(--vdgray);
}

.Home .about-me h1 {
  font-size: 1.7vw;
  font-weight: 700;
}

.Home .about-me h1 span {
  display: inline-block;
  animation: hello 1.5s linear infinite;
}

@keyframes hello {
  0% { rotate: 0; }
  50% { rotate: 15deg; }
  100% { rotate: 0; }
}

.Home .about-me p {
  font-size: 1vw;
  font-weight: 400;
  color: var(--lgray);
}

.Home .about-me p::first-letter {
  padding-left: 1vw;
}

.Home .about-me p span {
  letter-spacing: 0.2px;
  font-family: JetBrains Mono;
  font-weight: 400;
  color: #fff;
  filter: drop-shadow(0 0 5px transparent);
}

@media screen and (max-width: 768px) {
  .Home .about-me h1, .Home .about-me h1 span {
    font-size: 1.4vh;
  }
  .Home .about-me p {
    font-size: 1.2vh;
  }
}