.Home {
  align-items: flex-start;
  justify-content: center;

  & > * {
    margin: 1% 0;
  }

  & .head {
    & h1 {
      font-size: 1.8vw;
      font-weight: 550;
  
      & span {
        font-weight: 650;
        color: var(--blue);
      }
    }

    & h2 {
      font-family: Fira Code;
      font-size: 1.2vw;
      font-weight: 450;
      color: var(--lgray);

      & span {
        color: var(--blue);
        font-weight: 700;
      }
    }
  
    & .subtexts {
      margin: 1.5% 0 0 0;
      display: flex;
      gap: 0 10px;
  
      & p {
        display: flex;
        align-items: center;
        font-size: 1.15vw;
        font-weight: 500;
        gap: 0 5px;
        & > * {
          color: var(--blue);
        }
      }
    }
  }

  & .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 10px;

    & .projects {
      background-color: #00000000;
      border: 1px solid var(--gray);
      color: var(--text);
    }

    & > * {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0 10px;
      font-size: 1vw;
      font-weight: 550;
      background-color: #fff;
      border: 1px solid #fff;
      color: #000;
      padding: 11px 25px;
      border-radius: 1000px;

      &:hover {
        background-color: var(--blue);
        border: 1px solid var(--blue);
        color: #000;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }

  & .links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 10px;

    & .link {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 1.6vw;
      background-color: var(--bg);
      border: 1px solid var(--dgray);
      padding: 12px;
      border-radius: 8px;

      &:hover {
        background-color: var(--dgray);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Home {
    padding: 0 5%;

    & > * {
      margin: 3% 0 !important;
    }

    & .head {
      & h1 {
        font-size: 2.2vh;
      }
  
      & h2 {
        font-size: 1.29vh;
        padding: 0 0 0 5px;
        border-left: 2px solid var(--blue);
      }
    
      & .subtexts {
        margin: 2% 0 0 0;
        gap: 0 10px;
    
        & p {
          font-size: 1.4vh;
        }
    
        & .status {
          & .circleOut {
            height: 10px;
            width: 10px;
    
            & .circleIn {
              height: 6px;
              width: 6px;
            }
          }
        }
      }
    }
  }

  & .buttons {
    & > * {
      gap: 0 10px;
      font-size: 1.4vh !important;
      font-weight: 650 !important;
      padding: 8px 20px !important;
    }
  }

  & .links {
    gap: 0 10px;

    & .link {
      font-size: 2.6vh !important;
      border: 1px solid var(--dgray);
      padding: 10px !important;
      border-radius: 8px;

      &:hover {
        /* border: 1px solid var(--blue); */
        background-color: var(--dgray);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }
}