.Card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 2.6vh 1.4vw;
  gap: 1.6vh 0;
  background-color: var(--bg);
  border-radius: 7px;
  border: 1px solid var(--vdgray);
}

.Card:hover {
  transform: scale(1.015);
  background-color: rgb(9, 9, 10);
}

.Card h1 {
  font-size: 2vw;
}

.Card .description {
  font-size: 1.1vw;
  font-weight: 400;
  color: var(--lgray);
}

.Card .techs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 0 1vw;
}

.Card .techs p {
  background-color: #fff;
  color: #000;
  font-family: JetBrains Mono;
  font-size: 1vw;
  font-weight: 800;
  padding: 0.4vh 1vw;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .Card {
    padding: 1.2vh 2vw;
    gap: 1vh 0;
  }
  .Card h1 {
    font-size: 2vh;
  }
  .Card .description {
    font-size: 1.29vh;
  }
  .Card .techs p {
    font-size: 1.2vh;
    padding: 0.2vh 1.8vw;
  }
}

@media screen and (max-width: 425px) {
  .Card {
    padding: 1.2vh 3vw;
    gap: 1vh 0;
  }
  .Card h1 {
    font-size: 2vh;
  }
  .Card .description {
    font-size: 1.29vh;
  }
  .Card .techs p {
    font-size: 1.2vh;
    padding: 0.2vh 2.2vw;
  }
}