.Card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 49%;
  height: auto;
  border: 1px solid var(--dgray);
  border-radius: 10px;
  padding: 2vh 1vw;
  gap: 1.5vh 0;

  &:hover {
    transform: scale(1.01);
    background-color: #040404;
  }

  & h1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5vw;
    font-weight: 500;
    
    & span {
      font-size: 1vw;
      font-weight: 450;
      color: var(--gray);
    }
  }

  & h2 {
    font-size: 1vw;
    font-weight: 400;
    color: var(--lgray);
  }

  & .tags {
    display: flex;
    gap: 0 0.7vw;

    & .tag {
      font-size: 1vw;
      font-weight: 400;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0.5vh 1.2vw;
      border-radius: 6px;
    }
  }
}

@media screen and (max-width: 768px) {
  .Card {
    padding: 1vh 2vw;
    width: 100%;

    & h1 {
      font-size: 1.6vh;

      & span {
        font-size: 1vh;
      }
    }

    & h2 {
      font-size: 1.1vh;
    }

    & .tags {
      gap: 0 2vw;

      & .tag {
        font-size: 1vh;
        padding: 0.5vh 1.5vw;
      }
    }
  }
}