.Card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  gap: 0 1.5vw;
  border: 2px solid var(--dgray);
  padding: 25px;
  border-radius: 10px;
  width: 100%;

  & .logo {
    font-size: 3vw;
    color: var(--green);
  }

  & .texts {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
    padding: 0 0 0 1vw;
    border-left: 2px solid var(--gray);
    width: inherit;

    & div {
      gap: 5px 0;
      & h1 {
        font-size: 1.4vw;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
  
        & span {
          font-size: 0.85vw;
          color: var(--lgray);
          font-weight: 350;
        }
      }
  
      & h2 {
        font-size: 1vw;
        font-weight: 400;
      }
    }

    & .tags {
      display: flex;
      gap: 0 10px;

      & p {
        font-size: 0.85vw;
        font-weight: 400;

        & span {
          color: var(--lgray);
        }
      }
    }
  }

  &:hover {
    transform: scale(1.01);
    background-color: var(--dgray);

    & .logo {
      filter: drop-shadow(0 0 10px rgba(72, 230, 117, 0.5));
    }

    & .texts {
      & div {
        & h1 {
          color: var(--green);
        }
      }

      & .tags {
        & p {
          & span {
            color: var(--green);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Card {
    gap: 0 1.5vh;
    padding: 12px;
    border: 1px solid var(--dgray);
    border-radius: 6px;

    & .logo {
      font-size: 3.5vh;
    }

    & .texts {
      padding: 0 10px;
      border-left: 1px solid var(--dgray);
      & div {
        & h1 {
          color: var(--green);
          font-size: 1.4vh;

          & span {
            font-size: 1vh;
          }
        }

        & h2 {
          font-size: 1.2vh;
        }
      }

      & .tags {
        gap: 0 5px;
        & p {
          font-size: 1.1vh;
        }
      }
    }
  }
}