.Card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1.6vw;
  gap: 1.5vh 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &:hover {
    transform: scale(1.006);
    background-color: rgba(0, 0, 0, 0.4);
  }

  & h1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4vw;
    font-weight: 400;
    
    & span {
      font-size: 1vw;
      font-weight: 450;
      color: var(--gray);
    }
  }

  & h2 {
    font-size: 1vw;
    font-weight: 300;
    color: var(--lgray);
  }

  & .tags {
    display: flex;
    gap: 0 0.7vw;

    & .tag {
      font-size: 0.9vw;
      font-weight: 300;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0.5vh 0.6vw;
      border-radius: 5px;

      & span {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Card {
    padding: 2vh;
    gap: 1vh 0;
    width: 100%;

    & h1 {
      font-size: 2vh;

      & span {
        font-size: 1.2vh;
      }
    }

    & h2 {
      font-size: 1.6vh;
    }

    & .tags {
      gap: 0 2vw;

      & .tag {
        font-size: 1vh;
        font-weight: 300;
        border-radius: 3px;
        padding: 0.3vh 1vw;
      }
    }
  }
}