.Post {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 2vh 0;
  gap: 2vh 0;
}

.Post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.Post .post-header h1 {
  font-size: 1.7vw;
  font-weight: 500;
}

.Post .post-header p {
  font-size: 1vw;
  color: var(--lgray);
}

.Post .body {
  font-weight: 300;
  padding: 0 0.2vw;
}

.Post .links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 0 1vw;
}

.Post .links a {
  font-size: 1.1vw;
  color: var(--red);
  text-decoration: underline transparent;
}

.Post .links a:hover {
  text-decoration: underline var(--red);
}

@media screen and (max-width: 768px) {
  .Post .post-header h1 {
    font-size: 1.8vh;
  }
  .Post .post-header p {
    font-size: 1vh;
  }
  .Post .links a {
    font-size: 1.8vh;
  }
}