.Post {
  gap: 15px 0;
  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    & h1 {
      font-size: 1.4vw;
      font-weight: 600;
      color: var(--green);
    }

    & p {
      font-size: 0.8vw;
      font-weight: 400;
      color: var(--lgray);
    }
  }

  & .body {
    font-size: 1vw;
    font-weight: 350;
  }
}

@media screen and (max-width: 768px) {
  .Post {
    padding: 0 3%;
    gap: 1vh 0;

    & header {
      & h1 {
        font-size: 1.6vh;
      }

      & p {
        font-size: 1vh;
      }
    }

    & .body {
      font-size: 1.1vh;
    }
  }
}