.Header {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.Header h1 {
  font-size: 2.2vw;
  font-weight: 700;
}

.Header h1 span {
  color: rgb(120, 120, 120);
}

.Header h2 {
  font-size: 1.29vw;
  font-weight: 500;
  font-family: JetBrains mono;
  color: rgb(180, 180, 180);
}

.Header h2 span {
  color: rgb(120, 120, 120);
}

@media screen and (max-width: 768px) {
  .Header h1 {
    font-size: 2vh;
  }
  .Header h2 {
    font-size: 1.6vh;
  }
}