.Header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 2vh 1vw;
}

.Header h1 span {
  color: var(--blue);
}

.Header h2 {
  font-size: 1.2vw;
  font-weight: 500;
  font-family: JetBrains Mono;
  color: var(--lgray);
}

@media screen and (max-width: 425px) {
  .Header h1 {
    font-size: 2.2vh;
  }
  .Header h2 {
    font-size: 1.2vh;
  }
}

@media screen and (max-width: 768px) {
  .Header h1 {
    font-size: 2.3vh;
  }
  .Header h2 {
    font-size: 1.29vh;
  }
}