.Header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 2vh 1vw;
}

.Header h1 span {
  color: var(--red);
}

.Header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  font-weight: 400;
  font-family: JetBrains Mono;
  color: var(--lgray);
  gap: 0 0.8vw;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border-radius: 10000px;
  padding: 3px;
  animation: radar 0.9s infinite ease-in;
}

.inside {
  height: 100%;
  width: 100%;
  background-color: var(--red);
  border-radius: 10000px;
}

@keyframes radar {
  0% {
    background-color: transparent;
  } 
  50% {
    background-color: rgba(255, 80, 80, 0.4);
  }
  100% {
    background-color: transparent;
  }
}

@media screen and (max-width: 425px) {
  .Header h1 {
    font-size: 2.2vh;
  }
  .Header h2 {
    font-size: 1.2vh;
  }
}

@media screen and (max-width: 768px) {
  .Header h1 {
    font-size: 2.3vh;
  }
  .Header h2 {
    font-size: 1.29vh;
  }
}