.Header {
  & h1 {
    font-size: 2vw;
    font-weight: 400;
  }

  & h2 {
    font-size: 1.2vw;
    font-weight: 300;
    color: var(--lgray);
  }
}

@media screen and (max-width: 768px) {
  .Header {
    & h1 {
      font-size: 2.4vh;
    }

    & h2 {
      font-size: 1.8vh;
    }
  }
}