.About {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 40vh;
  width: 65%;
  padding: 1vh 1vw;
  gap: 1.5vh;
}

.About .title {
  font-size: 1.4vw;
  font-weight: 500;
  width: 99.8%;
}

.About .card {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  background-color: #1c1c1c;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px;
  padding: 2vh 1vw;
  gap: 1vh 0;
}

.About .card code {
  font-family: Fira Code;
  font-size: 1.2vw;
  font-weight: 600;
}

.About .card code .blue {
  color: rgb(69, 144, 255);
}

.About .card code .purple {
  color: rgb(190, 105, 255);
}

.About .card code .green {
  color: rgb(105, 255, 105);
}

.About .card p {
  font-size: 0.95vw;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.8px;
}

.About .card p span {
  font-weight: 500;
  font-family: Fira code;
}

.About .card p span:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
}

@media screen and (max-width: 768px) {
  body .About {
    min-height: 19vh;
    min-height: 10vh;
    width: 100%;
  }
  body .About .title {
    font-size: 1.4vh;
  }
  body .About .card {
    padding: 1vh 2vw;
    width: 96%;
  }
  body .About .card code {
    font-size: 1.2vh;
  }
  body .About .card p {
    font-size: 1vh;
    font-weight: 400;
  }
}