.Lateral {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 35%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.Lateral > * {
  margin: 2vh 0;
}

.Lateral .presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
  padding: 2vh 0;
}

.Lateral .presentation img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.3));
}

.Lateral .presentation ul {
  list-style: none;
}

.Lateral .presentation ul li h1 {
  font-size: 1.6vw;
  font-weight: 600;
}

.Lateral .presentation ul li h2 {
  font-size: 1.2vw;
  font-weight: 300;
  font-family: Fira Code;
  color: rgba(255, 255, 255, 0.5);
}

.Lateral .about-me {
  cursor: default;
  font-size: 0.9vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  width: 85%;
}

.Lateral .about-me span {
  font-weight: 400;
  font-size: 0.88vw;
  filter: drop-shadow(0 0 5px transparent);
  font-family: Fira code;
}

.Lateral .about-me span:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6));
} 

.Lateral .social {
  width: 85%;
}

.Lateral .social h1 {
  font-size: 1.1vw;
  font-weight: 400;
  padding: 1vh 0;
}

.Lateral .social div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.Lateral .social div a {
  padding: 1.8vh 1vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: auto;
  font-size: 1vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  background: linear-gradient(90deg, #00000000, #00000000);
}

.Lateral .social div a:hover {
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
  background: linear-gradient(90deg, #00000081, #00000000);
}

.Lateral .social div a i {
  font-size: 1.2vw;
  padding-right: 0.5vw;
}

@media screen and (max-width: 768px) {
  body .Lateral {
    position: relative;
    width: 100%;
    height: 45vh;
    border-left: none;
  }
  body .Lateral .presentation img {
    height: 80px;
    width: 80px;
    border: 2px solid rgb(255, 255, 255);
  }
  body .Lateral .presentation ul li h1 {
    font-size: 2vh;
  }
  body .Lateral .presentation ul li h2 {
    font-size: 1.4vh;
  }
  body .Lateral .about-me {
    font-size: 1vh;
  }
  body .Lateral .about-me span {
    font-size: 1.1vh;
  }
  body .Lateral .social h1 {
    font-size: 1.2vh;
  }
  body .Lateral .social div a {
    font-size: 1vh;
    padding: 1.2vh 4vw;
  }
  body .Lateral .social div a i {
    font-size: 1.2vh;
  }
}