.Projects {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 80vh;
  width: 65%;
  padding: 1vh 1vw;
  gap: 2vh 0;
}

.Projects .title {
  font-size: 1.4vw;
  font-weight: 500;
}

.Projects .subtitle {
  font-size: 1vw;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 1vh 0;
}

.Projects .subtitle a {
  color: rgb(0, 136, 255);
  text-decoration: underline;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  body .Projects {
    width: 100%;
    min-height: 55vh;
    padding: 1vh 3vw;
  }
  body .Projects .title {
    font-size: 1.4vh;
  }
  body .Projects .subtitle {
    font-size: 1.2vh;
  }
}