.Projects {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  gap: 2vh 0;
  padding: 0 5vw;

  & header {
    & h1 {
      font-size: 2vw;
      font-weight: 450;
    }

    & h2 {
      font-size: 1.2vw;
      font-weight: 350;
      color: var(--lgray);
    }
  }

  & .card-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    gap: 2vh 1vw;
  }

  & .other-projects {
    width: 100%;
    text-align: center;
    font-size: 1.1vw;
    font-weight: 400;
    color: var(--lgray);

    & a {
      color: var(--blue);
      text-decoration: underline transparent;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Projects {
    padding: 6vh 2vw;

    & header {
      & h1 {
        font-size: 3vh;
      }

      & h2 {
        font-size: 1.7vh;
      }
    }

    & .card-container {
      flex-direction: column;
      width: 100%;
      gap: 1vh 0;
    }

    & .other-projects {
      font-size: 1.5vh;
    }
  }
}