.Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 2vh 0;
}

.Projects .project-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.Projects .project-header h2 {
  font-size: 1.1vw;
  font-weight: 400;
  color: var(--lgray);
}

.Projects .other-projects {
  font-size: 1.2vw;
  font-weight: 400;
}

.Projects .other-projects a {
  color: var(--blue);
  text-decoration: underline transparent;
}

.Projects .other-projects a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Projects .project-header h2 {
    font-size: 1.2vh;
  }

  .Projects .other-projects {
    font-size: 1.4vh;
  }
}