.Projects {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2vh 0;
  padding: 5vh 5vw;
  width: 100vw;
  min-height: 100vh;

  & .otherProjects {
    width: 100%;
    text-align: center;
    font-size: 1.1vw;
    font-weight: 400;
    color: var(--lgray);

    & a {
      color: var(--blue);
      text-decoration: underline transparent;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Projects {
    padding: 6vh 2vw;

    & .otherProjects {
      font-size: 1.5vh;
    }
  }
}