.Footer {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 95vh;
  width: 100%;

  & * {
    text-align: center;
    font-size: 0.7vw;
    font-weight: 500;
    color: var(--g3);
     backdrop-filter: blur(2px);
     padding: 3px 7px;
  }

  & *::selection {
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    display: none;
  }
}