.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 2vh 3vw;
}

.Footer h4 {
  font-size: 1.1vw;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .Footer h4 {
    font-size: 1.1vh;
  }
}