.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 2vh 1vw;
}

.Footer p {
  font-size: 1vw;
}

@media screen and (max-width: 768px) {
  .Footer p {
    font-size: 1vh;
  }
}