@import "variables";
@import "fonts";
@import "mixin";
@import "global";

/* style */
main {
   @include flex(column);
   align-items: flex-start;
   justify-content: flex-start;
   height: 100%;
   width: 100%;
   background-color: #111;
   padding: 1em;
   word-wrap: break-word;
   overflow: hidden;

   * {
    word-wrap: break-word;
   }
}
/* style */

/* global class */
.green {
    display: flex;
    flex-direction: row;
    color: $green;

    a {
        cursor: pointer;
    }
}
.underline {
    text-decoration: underline;
}
/* global class */ 

/* responsivo */ 
@media screen and (max-width: 768px) {
    main {
        * {
            font-size: 0.7rem;
        }
    }
    .green {
        display: flex;
        flex-direction: column;
    }
} 
/* responsivo */ 