@import "variables";
@import "fonts";
@import "mixin";
@import "global";

/* style */
main {
   @include flex(column);
   align-items: flex-start;
   justify-content: flex-start;
   height: 100vh;
   width: 100vw;
   background-color: #111;
   padding: 1vw;
   word-wrap: break-word;
   gap: 0.35vw;
}
/* style */

/* global class */
.father {
    @include flex(row);
    width: auto;
    height: auto;

    .green {
        font-size: 1.2vw;
        color: $green;
        min-width: 20vw;
        height: 100%;
        word-wrap: none;
    }

    p {
        font-size: 1.2vw;
        word-wrap: break-word;

        a {
            cursor: pointer;
    
            &:hover {
                color: $green;
            }
        }
    }
}

.underline {
    text-decoration: underline;
}
/* global class */ 

/* responsivo */ 
@media screen and (max-width: 768px) {
    main {
        * {
            font-size: 1.4vw;
        }
    }
    .father {
        @include flex(column);
        align-items: flex-start;
        gap: 0.4vw;
    }
} 
/* responsivo */ 