.App {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 55vw;
  min-height: 100vh;
  padding: 3vh 0;
  gap: 3vh 0 ;
}

@media screen and (max-width: 768px) {
  .App {
    display: flex;
    justify-content: center;
    width: 90vw;
    min-height: 100vh;
  }
}