nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  width: 100vw;
  padding: 1vh 1vw;

  & .button {
    font-size: 1vw;
    font-size: 500;
    background-color: transparent;
    padding: 1vh 1vw;
    border-radius: 5px;
  }
}

.active {
  cursor: default;
  color: var(--gray);
}

.inactive:hover {
  /* color: var(--blue); */
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
  nav {
    gap: 0 1.5vh;
  }
  nav .button {
    font-size: 1.5vh;
  }
}