nav {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  padding: 1vh 1vw;

  & .eng, .pt {
    font-size: 0.7vw;
    color: var(--lgray);

    &:hover {
      color: #fff;
    }
  }

  & div {
    display: flex;
    padding: 0.35vw;
    gap: 0 5px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.08);

    & .button {
      font-size: 0.9vw;
      font-weight: 400;
      background-color: transparent;
      padding: 1vh 1vw;
      border-radius: 5px;
      color: var(--lgray);
      
      &:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1.2vh 2vh;

    & .pt, .eng {
      font-size: 1vh;
    }

    & div {
      border-radius: 6px;
      padding: 0.5vh;

      & .button {
        font-size: 1.2vh;
        padding: 0.7vh 1vh;
      }
    }
  }
}