.Nav {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 0 1vw;
  padding: 1vh 0;
}

.active {
  cursor: default;
  color: var(--gray);
}

.inactive:hover {
  color: var(--red);
}

@media screen and (max-width: 768px) {
  .Nav {
    gap: 0 4vw;
  }
  .Nav * {
    font-size: 1.2vh;
  }
}