.About {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.About .presentation {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 3vh 1.5vw;
  gap: 2vh 0;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.About .presentation h1 {
  font-family: JetBrains mono;
  font-size: 1.2vw;
  font-weight: 600;
}

.About .presentation h1 .blue {
  color: rgb(89, 150, 255);
}

.About .presentation h1 .purple {
  color: rgb(162, 108, 255);
}

.About .presentation h1 .yellow {
  color: rgb(255, 223, 108);
}

.About .presentation h1 .green {
  color: rgb(113, 255, 108);
}

.About .presentation h1 span {
  font-family: JetBrains mono;
  font-size: 1.2vw;
  font-weight: 600;
}

.About .presentation p {
  font-size: 1vw;
  color: rgb(160, 160, 160);
}

.About .presentation p span {
  font-family: JetBrains mono;
  font-size: 0.95vw;
  font-weight: 600;
  color: rgb(160, 160, 160);
}

.About .presentation .p-active {
  color: #fff;
}

.About .presentation p .span-active {
  color: rgb(44, 156, 255);
}

@media screen and (max-width: 768px) {
  .About .presentation h1 {
    font-size: 1.1vh;
  }
  .About .presentation h1 span {
    font-size: 1.1vh;
  }
  .About .presentation h1 .first {
    color: rgb(89, 150, 255);
  }
  .About .presentation h1 .second {
    color: rgb(162, 108, 255);
  }
  .About .presentation h1 .third {
    color: rgb(255, 223, 108);
  }
  .About .presentation h1 .fourth {
    color: rgb(113, 255, 108);
  }
  .About .presentation h1 .fifth {
    color: rgb(255, 223, 108);
  }
  .About .presentation p {
    font-size: 1vh;
    color: #fff;
  }
  .About .presentation p span {
    font-size: 0.95vh;
    color: rgb(44, 156, 255);
  }
}