.NotFound {
  align-items: center;
  justify-content: center;

  & h1 {
    font-size: 9vw;
    color: var(--gray);
  }

  & h2 {
    font-size: 2vw;
    font-weight: 550;

    & span {
      font-weight: 600;
      color: var(--blue)
    }
  }

  & .btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 1.2vw;
    font-weight: 650;
    background-color: var(--blue);
    color: #000;
    padding: 11px 25px;
    border-radius: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .NotFound {
    & h1 {
      font-size: 8vh;
    }
  
    & h2 {
      font-size: 2vh;
  
      & span {
        font-weight: 600;
      }
    }
  
    & .btn {
      margin: 15px 0;
      font-size: 1.6vh;
      font-weight: 650;
      background-color: var(--blue);
      color: #000;
      padding: 9px 20px;
      border-radius: 1000px;
    }
  }
}