.NotFound {
  align-items: center;
  justify-content: center;
  gap: 1vh 0;
  padding: 5vh 5vw;
  width: 100vw;
  min-height: 100vh;

  & h1 {
    font-size: 4vw;
    font-weight: 400;
    color: var(--gray);
  }

  & h2 {
    font-size: 2vw;
    font-weight: 300;

    & span {
      font-weight: 400;
      color: var(--lgray);
    }
  }

  & .button {
    font-size: 1.2vw;
    color: var(--blue);
    text-decoration: 1px underline transparent;

    &:hover {
      text-decoration: 1px underline;
    }
  }
}

@media screen and (max-width: 768px) {
  .NotFound {
    & h1 {
      font-size: 5vh;
    }

    & h2 {
      font-size: 2.5vh;
    }

    & .button {
      font-size: 2vh;
    }
  }
}